body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #333;
  color: white;
}

.TablePage {
  font-family: Arial, sans-serif;
  color: white;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.navbarTable {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: rgba(0, 0, 0, 0.7);
}

.logo-table {
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: bold;
}

.navLink-table {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0 auto;
}

.navLink-table li {
  display: inline-block;
}

.navLinks-table li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.navLink-table li a:hover,
.navLink-table li a:active {
  color: #ffcc00;
}

.navItem a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.table-tag {
  background-color: #ffa500;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.table-tag:hover {
  background-color: #D0671B;
}

.table-reservation {
  margin-top: 150px;
  text-align: center;
}

.table-reservation h2 {
  margin-bottom: 40px;
  font-size: 32px;
  color: #fff;
}

.table-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
}

.tableButton {
  background-color: #ff9900;
  color: white;
  border: none;
  padding: 20px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.tableButton:hover {
  background-color: #ff7700;
}

.tableButton:nth-last-child(2),
.tableButton:last-child {
  grid-column: span 2;
  padding: 20px 60px;
}

@media (max-width: 768px) {
  .table-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .tableButton {
    padding: 15px 25px;
    font-size: 14px;
  }

  .tableButton:nth-last-child(2),
  .tableButton:last-child {
    grid-column: span 2;
    padding: 15px 50px;
  }
}

.dropdown-table {
  position: relative;
  display: inline-block;
}

.dropdowntable-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1000;
  width: 200px;
}

.dropdowntable-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdowntable-menu li {
  padding: 10px;
  cursor: pointer;
  color: #fff;
}

.dropdowntable-menu li:hover {
  background-color: #555;
}

.tableButton.booked {
  background-color: gray;
  cursor: not-allowed;
}